body {
  background-color: #800080;
}

h1, h2 {
  font-family: Montserrat, Roboto, sans-serif;
  text-align: center;
}

main{
  margin-left: -0.35%;
  margin-right: -0.35%;
}

p {
  text-align: center;
  font-family: Roboto, sans-serif;
}

a, footer, .top-menu, .nav-menu:visited{
  color: white;
}

.top-menu{
  height: 4vh;
}

.title{
    display: inline;
    position: absolute;
    left: 40%;
    margin-top: -22px;
}

.nav-menu {
  font-size: 1.125em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  padding: 7.5px 15px 0 15px;
  text-decoration: none;
}

.nav-menu:active{
  color: rgb(0, 0, 255);
}

.nav-menu:hover{
  font-size:1.25em;
}

.top-left{
  float: left;
}

.top-right{
  float: right;
}

.image{
  position: relative;
  width: 100%;
  height: 13vh;
  border: 2px solid green;
  background-color: white;
  text-align: center;
  font-size: 32px;
  padding-top: 7vh;
}

.container{
  display: flex;
  height: 100vh;
  flex-flow: row;
  justify-content: space-around;
}

.menu, .info {
  background-color: powderblue;
  flex: 1 1 0;
}

.content {
  background-color: violet;
  flex: 2 2 0;
}
